*, *:before, *:after {
    box-sizing: inherit;
}

::selection {
    background-color: hsl( 180, 50%, 90% );
}

head {
    display: none;
}

.content {
    margin: auto;
    width: 60%;
}

body {
    margin: 10;
    padding: 10;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

div {
    display: block;
    text-align: center;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 1rem 0;
    clear: both;
}

h2 {
    font-size: 2em;
    margin: 110;
    margin-bottom: 32px;
    font-weight: 300;
    display: block;
}

h3 {
    margin-left: 100px;
    text-align: left;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-indent: 1em;
    text-align: justify;
}

a {
    color: hsl( 180, 53%, 50% );
    transition: color .11s ease-in-out;
}

b, strong {
    font-weight: bolder;
}

ol, ul{
    list-style-position: inside;
}

.steps li {
    text-align: left;
    margin-left: auto;
}

.topics {
    font-weight: bold;
}

img {
    display: inline-block;
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    position: relative;
    overflow-clip-margin: content-box;
    overflow: clip;
}

code {
    background-color: hsl(0,0%,96.5%);
    color: rgba(255, 0, 0, 0.836);
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 1px 6px 1px 6px;
}

figcaption {
    font-size: .71111em;
    line-height: 1.4;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
}

.credits {
    margin: 100px;
    text-align: center;
    margin-bottom: 50px;
}

.navbar {
    margin: 0;
    width: 100%;
    background-color: #d7d559d5;
    overflow: auto;
    position: fixed;
    z-index: 1;
}

.navbar a {
    float: left;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    font-size: 18px;
    width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
}


.navbar a:hover {
    background-color: #46454531;
}


@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
}
